@font-face {
  font-family: logo_font;
  src: url(./assets/fonts/mount_hills/Mount\ Hills.otf);
}

@font-face {
  font-family: mont_bold;
  src: url(./assets/fonts/Mont-HeavyDEMO.otf);
}

.chart-container {
  height: 500px;
  width: 100%;
  padding: 0;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}